table.productsTab
{
	width: 100%;
	border-collapse: collapse;
	background: #ccc;
}

table.productsTab tr, table.productsTab td
{
	border: 1px solid black;
}

td.preview
{
	width: 256px;
}

table.productsTab img
{
	width: 100%;
	display: block;
}

div.available
{
	color: #090;
}

div.notAvailable
{
	color: #900;
}

table.trashTab
{
	width: 100%;
	border-collapse: collapse;
}

table.trashTab tr, table.trashTab td
{
	border: 0px solid black;
}

table.trashTab td.count
{
	text-align: center;
}

table.trashTab td.amount
{
	width: 32px;
}

table.trashTab td.amount input
{
	width: 32px;
}

table.trashTab td.toTrash
{
	width: 92px;
}